<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Inicio</title>
</head>
<body>
    <header>
        <img src="./images/logo-mercado-liebre.svg" alt="logo" width="150px" height="150px">
        <p><i class="fa-solid fa-hand-holding-heart"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <input type="text" placeholder="Buscar productos, marcas, etc">
        <button type="submit">Buscar</button><br>
        <nav>
            <li href="">Ofertas</li>
            <li href="">Tiendas oficiales</li>
            <li href="">Vender</li>
            <li href="">Ayuda</li><br>
            <li href="">Crea tu cuenta</li><i class="fa-solid fa-id-card"></i>
            <li href="">Ingresá</li><i class="fa-duotone fa-right-to-bracket"></i>
            <li href="">Mis compras</li><i class="fa-solid fa-basket-shopping"></i>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <main>
            <section>
                <h1>Basados en tu última visita</h1><br>
                <img src="./images/img-cafetera-moulinex.jpg" alt="" width="150px" height="150px">
                <p id="precio">$6770</p>
                <p id="descuento">40% OFF</p>
                <h2>Cafetera Moulinex</h2><br>
                <img src="./images/img-macbook-pro-2019.jpg" alt="" width="150px" height="150px">
                <p>$230000</p>
                <p>20% OFF</p>
                <h2>Macbook Pro 2019</h2><br>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="" width="150px" height="150px">
                <p>$70500</p>
                <p>10% OFF</p>
                <h2>Samsung Galaxy S10</h2><br>
                <img src="./images/img-tv-samsung-smart.jpg" alt="" width="150px" height="150px">
                <p>$23200</p>
                <p>5% OFF</p>
                <h2>SmartTV Samsung 42"</h2>
            </section><br>
            <section>
                <h1>Sección de ofertas</h1>
                <img src="./images/img-cafetera-moulinex.jpg" alt="" width="150px" height="150px">
                <p>$6770</p>
                <p>40% OFF</p>
                <h2>Cafetera Moulinex</h2><br>
                <img src="./images/img-macbook-pro-2019.jpg" alt="" width="150px" height="150px">
                <p>$230000</p>
                <p>20% OFF</p>
                <h2>Macbook Pro 2019</h2><br>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="" width="150px" height="150px">
                <p>$70500</p>
                <p>10% OFF</p>
                <h2>Samsung Galaxy S10</h2><br>
                <img src="./images/img-tv-samsung-smart.jpg" alt="" width="150px" height="150px">
                <p>$23200</p>
                <p>5% OFF</p>
                <h2>SmartTV Samsung 42"</h2>
            </section>
        </main>
        <footer>
            <section>
                <h1>Pagá con tarjeta o en efectivo</h1>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <h1>Envío gratis desde $ 2.500</h1>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <h1>Seguridad, de principio a fin</h1>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            <section>
                <h1>Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>
            </section>
        </footer>
    </header>
</body>
</html>