<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <!--Import de fuentes (Google Fonts)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <!--Import de íconos (FontAwesome)-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <title>Ingreso</title>
</head>
<body>
    <form action="" method="POST">
        <label for="nickname">Nombre de usuario:</label>
        <input type="text" id="nickname" name="nickname"><br>
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena"><br>
        <button type="submit" class="boton-ingresar">INGRESAR</button>
    </form>
</body>
</html>