/*  
    PALETA DE COLORES
    Amarillo: #EAC926;
    Azul: #03264C;
    Celeste: #1259c3;
    Gris oscuro: #666;
    Gris claro: #ebebeb;
    Verde: #39b54a;
*/

/** ESTILOS GLOBALES */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    
body {
    font-family: 'Roboto', sans-serif; 
    font-weight: bolder;
    background-color: #ebebeb;
}

main {
    background-color: #ebebeb;
    width: 90%;
    margin: auto;
    text-align: center;
}

header {
    font-size: 12px;
    background-color: #EAC926;
    padding-bottom: 2%;
}

footer {
    font-size: 12px;
    background-color: white;
    padding-top: 3%;
    padding-bottom: 1%;
}

nav {
    display: none;
}

/** IMAGENES */

.imagen-articulo {
    width: 200px;
    height: 200px;
}

.logo-principal{
    width: 33%;
}

/** TEXTOS */

.titulo-principal {
    font-size: 24px;
}

.precio {
    font-size: 18px;
}

.descuento {
    font-size: 16px;
    color: #39b54a;
}

.descripcion {
    font-size: 16px;
    display: none;
}

.caja-informacion:hover .descripcion{
    display: block;
}

.contenido-footer {
    text-align: center;
    display: flex;
    width: 95%;
    margin: auto;
}

.caja-footer {
    margin-bottom: 50px;
}

.texto {
    display: flex;
    align-self: center;
    width: 34%;
    justify-content: center;
}

/** BOTONES */

.burguer-menu {
    text-align: center;
    width: 28px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #1259C3;
    color: white;
}

/** ÍCONOS */

.icono-footer {
    font-size: 2em;
    color: #1259C3;
}

.fa-truck {
    color: #39b54a;
}

.caja-footer i:hover {
    color: #EAC926;
}

/** CONTENEDORES */

.copyright {
    margin-left: 3%;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 33%;
}

.caja-informacion {
    background-color: white;
    border: solid #ebebeb 1px;
    padding: 15px;
}

.articulo {
    margin-bottom: 10px;
}

.articulos {
    display: flex;
    flex-direction: column;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar-subcontainer {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 5%;
}

.navbar-subcontainer a {
    margin-left: 3%;
    margin-right: 3%;
    text-decoration: none;
    color: black;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/** FORMULARIO LOGIN */
.formulario {
    display: flex;
    background-color: #ebebeb;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

.formulario input {
    width: 40%;
    margin-bottom: 3%;
    padding: 1%;
    border-radius: 5%;
    border: none;
}

.formulario button {
    width: 40%;
}

.boton-ingresar {
    border: 1px black solid;
    background-color: white;
    color: black;
    padding: 1%;
} 

.boton-ingresar:hover {
    background-color:  #0022AA;
    color: white;
}

/** FORMULARIO REGISTRO */

.formulario-registro {
    display: flex;
    width: 35%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.formulario-registro input {
    width: 100%;
    margin-bottom: 3%;
    padding: 1%;
    border-radius: 5%;
    border: none;
}

.formulario-registro label {
    margin-bottom: 1%;
    align-self: flex-start;
}

.formulario-registro span {
    display: flex;
}

/** MEDIA QUERIES */

/* TABLETS */
@media (min-width: 361px){
    .descripcion {
        display: none;
    }
    .articulo{
        transition-property: all;
    }
    .articulo:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    nav {
        display: block;
    }
    .burguer-menu {
        display: none;
    }
}

/* PC */
@media (min-width: 769px){
    .articulos {
        flex-direction: row;
        justify-content: space-between;
    }
}