body {
    font-family: 'Roboto', sans-serif; 
    font-weight: bolder;
    margin: 0;
}

header {
    background-color: #EAC926;
}

main {
    background-color: #EAC926;
    text-align: center;
}

h1 {
    font-size: 24px;
}

li {
    font-size: 12px;
}

#descuento {
    font-size: 16px;
}

#precio {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

.burguer-menu {
    text-align: center;
    font-size: 24px;
    width: 28px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #1259C3;
    color: white;
  }

footer {
    text-align: center;
    background-color: white;
    padding-top: 20px;
}

#icono-footer {
    size: 2em;
    margin-bottom: 10px;
    color: #1259C3;
    font-size: 30px;
}

#copy {
    text-align: left;
    color: #666;
}