form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
    align-items: center;
    height: 100vh;
}

.boton-ingresar:hover {
    background-color:  #0022AA;
    color: white;
}   